# ======================================
# ENVIRONMENT
# ======================================

.env

# ======================================
# NODE MODULES
# ======================================

node_modules/

# ======================================
# DATABASE
# ======================================

database/*.db
database/*.db-shm
database/*.db-wal

# ======================================
# LOGS
# ======================================

logs/*
!logs/.gitkeep

*.log

# ======================================
# RUNTIME DATA
# ======================================

data/*
!data/.gitkeep

# ======================================
# OS FILES
# ======================================

.DS_Store

# ======================================
# VSCODE
# ======================================

.vscode/

# ======================================
# CACHES
# ======================================

.cache/
tmp/
temp/
